

body{
    position: relative;
}


.header {
    padding: 20px 40px;
    border-bottom: 1px solid #222f3e;
    margin-bottom: 30px;
  }
  .header-logo {
    height: 50px;
  }
  .banner {
    background-color: #5f27cd;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    position: fixed;
   top:45%;
   right: 0px;
   margin-right: 100px;
   


    
  }
  .button {
    display: block;
    width: 160px;
    height: 40px;
    opacity: 0.95;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1dd1a1;
    width: 100%;
    position: fixed;
    bottom: 0;
  
  }
  p {
    margin-bottom: 20px;
  }